<%# -------------------- Abaout sayfası ---------------------------- %>
<div class="container text-center">    
    <div class="row content">
        <div class="col-sm-12 text-left"> 
        <img src="https://www.iglobsyn.com/wp-content/uploads/2019/09/Ruby-on-rails-development.png" class="rounded mx-auto d-block" alt="...">
        <p> Ruby On Rails ya da Rails, Ruby diliyle yazılmış, açık kaynak kodlu bir web uygulama geliştirme çatısıdır. Web uygulamaları için ihtiyaç duyulabilecek bütün bileşenleri barındıran Rails; model-view-controller, don't repeat yourself, convention over configuration yaklaşımlarını temel alır.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
</div>

<footer class="container text-center">
  <p>Ruby Eğitimi: Ruby, sürdürülebilir verimlilik için en iyi şekilde optimize edilmiş, full stack, açık kaynak kodlu web uygulama framework’udur.

Ruby eğitimi, Rails framework üzerinde, dinamik veritabanı tabanlı uygulamaları oluşturma sürecini tamamlamayı öğretir.

Ruby on Rails eğitimi, tam özellikli, yüksek kaliteli ve nesne tabanlı web uygulamaları geliştirebilmenizi sağlayacak bilgi ve becerilerin öğretilmesini amaçlar.

Ruby eğitim programı sonunda, Ruby son sürümü üzerinde yeni kavram ve uygulamaları öğrenirsiniz</p>
<h4>Betül SARITEKE<h4>
</footer>
<%# -------------------- Abaout sayfası ---------------------------- %>
