<div id="<%= dom_id datum %>">
  <div class="card border-success mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= datum.ad %></h5>
      <h6 class="card-subtitle mb-2 text-muted"> <%= datum.marka %></h6>
      <p class="card-text"> <%= datum.yorum %></p>
    </div>
  </div>
</div>
