<h1>Düzenle</h1>
<br></br>
<%= render "form", datum: @datum %>
<br>
<div>
  <%= link_to "Detay", @datum,  class:"btn btn-info btn-md" %> |
  <%= link_to "Geri Dön", data_path , class:"btn btn-success btn-md" %>
</div>
